@import "../../assets/scss/mixins.scss";

.slide {
  background: #000;
  height: 100%;
  width: 100%;
}

.slide-section--item {
  width: 100%;
  height: 100%;
}

.fp-slidesNav ul li a span {
  background: aquamarine;
}
.fp-slidesNav .fp-bottom {
  background: aquamarine;
}
.video-section--content {
  width: 95%;
  height: 70%;
  margin: 0 auto;
  padding-top: 10px;
  @include phones() {
    height: 60%;
  }
}

// BUTTON UPP
.video-section--upp {
  border: 1px solid white;
  background: orange;
  color: black;
  padding: 5px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}
